<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h4>本当に退会しますか？</h4>
      <div>
        <span>退会すると、会員登録情報や</span><br>
        <span>これまでの購入履歴が閲覧できなくなります。</span><br>
        <span>退会する場合は、「退会する」をクリックしてください。</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <%= link_to "退会しない", customers_my_page_path, class: "btn btn-primary" %>
    </div>
    <div class="col text-left">
      <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>