<div class="border border-dark text-center">
  <span><strong>ジャンル検索</strong></span>
</div>
<div class="border border-dark">
  <% genres.each do |genre| %>
    <p class="pl-1">
      <%= link_to genre.name, items_path(genre_id: genre.id) %>
    </p>
  <% end %>
</div>