<div>
  <div>
    <p>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員出ない型も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
  <h1>新着商品</h1>
  <table>
    <tbody>
      <tr>
        <% @items.each do |item| %>
        <td>
          <%= image_tag item.get_image %><br>
          <%= item.name %><br>
          ￥<%= item.price.to_s(:delimited) %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <%= link_to "全ての商品を見る", items_path %>
</div>